body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

*,
*:after
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.first {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 900px;
    background: linear-gradient(to right, #000 461px, #FFF 461px);
}

/*HEADER======================
============================*/

.header {
    max-width: 1440px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 461px;
    height: 100%;
}

.header__title {
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #fff;
    padding-left: 52px;
}

.header__lang {
    text-decoration: none;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    padding-right: 44px;
}

.header__lang:before {
    content: '';
    position: absolute;
    left: 30px;
    top: 12px;
    border: 7px solid transparent;
    border-top: 5.5px solid #FFF;
}

.header__lang:after {
    content: '';
    position: absolute;
    left: 32px;
    top: 12px;
    border: 5px solid transparent;
    border-top: 3.5px solid #000;
}

.header__burger {
    width: 92px;
    height: 92px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__burger_item {
    display: block;
    background: #000;
    height: 4px;
    width: 35px;
    position: relative;
}

.header__burger_item:after {
    content: '';
    position: absolute;
    top: 9px;
    background: #000;
    height: 4px;
    width: 35px;
}

/*CONTENT======================
============================*/

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    height: 562px;
    padding-bottom: 85px;
}

.first__img {
    width: 100%;
}

.first__img-wrap {
    width: 50%;
    margin-right: 54px;
    max-width: 549px;
    max-height: 562px;
}

.content-wrap {
    display: block;
    width: 50%;
    height: 100%;
}

.first__title {
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
    margin-bottom: 26px;
    padding-top: 77px;
}

.first__title_link {
    display: none;
}

.first__description {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 36px;
}

.first__button {
    border: 1.5px solid #000;
    padding: 20px 41px 20px 41px;
    /*font-family: Montserrat-Medium;*/
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 54px;
    background: #FFF;
}

.first__link {
    /*font-family: Montserrat-Medium;*/
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.arrow {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 19px;
    width: 43px;
    height: 1px;
    background: #000;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: 100% 0%;
}

/*FIRST-FOOTER======================
============================*/

.first__footer {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;
}

.first__nav-box{
    padding-left: 52px;
    width: 50%;
}

.first__nav_item {
    margin-right: 12.03px;
}

.first__nav_item:last-child {
    margin-right: 0;
}

.scrooll-box {
    width: 50%;
}

/*АДАПТИВНАЯ ВЕРСТКА======================
============================*/

@media (max-width: 1100px) {
    .first__title {
        font-size: 50px;
    }
}

@media (max-width: 1010px) {
    .first__title {
        font-size: 40px;
    }

    .first__button {
        margin-right: 25px;
    }

}

@media (max-width: 950px) {

    .first {
        width: 100%;
        height: 100vh;
    }

    .header__lang {
        display: none;
    }

    .header {
        height: 70px;
        background: #FFF;
        margin: 0;
    }

    .header__wrap {
        width: 100px;
    }

    .header__title {
        color: #000;
        font-size: 30px;
    }

    .header__burger {
        width: 70px;
        height: 70px;
    }

    .header__burger_item {
        width: 26px;
        height: 3px;
    }

    .header__burger_item:after {
        top: 7px;
        width: 26px;
        height: 3px;
    }

    .container {
        width: 100%;
        height: 100%;
        background:
                url(img/girl-mobile.png) center no-repeat;
        background-size: cover;
        margin: 0;
    }

    .content-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .first__img-wrap, .first__description, .first__button, .first__link {
        display: none;
    }

    .first__title {
        font-size: 40px;
        line-height: 51px;
        margin: 0 0 29px 0;
        padding: 0 0 0 27px;
    }

    .first__title_link {
        display: block;
        margin-bottom: 80px;
    }

    .first__footer {
        display: none;
    }
}

/*SECOND======================
============================*/

.second {
    max-width: 1440px;
    width: 100%;
    height: 900px;
    background: #fae8e4;
    margin: 0 auto;
}

.second__product-wrap {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.second__img-wrap {
    align-items: center;
    display: flex;
    width: 50%;
    /*max-width: 759px;*/
    position: relative;
    margin-right: 66px;
    box-sizing: border-box;
}

.whitebag {
    position: absolute;
    width: 100%;
    max-width: 398px;
    max-height: 415px;
}

.pinkbag {
    position: absolute;
    width: 100%;
    max-width: 582px;
    max-height: 844px;
    left: 14%;
}

.second__wrap {
    align-items: center;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.second__content-wrap {
    display: block;
    width: 488px;
    height: 556px;
    background: #FFF;
    padding: 40px 65px 44px 55px;
    box-sizing: border-box;
    margin-bottom: 39px;
    box-shadow: 25px 25px 40px -34px #808080;
}

.second__title {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 17px;
}

.second__subtitle {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.07em;
    color: #000;
    opacity: 0.5;
    margin-bottom: 64px;
}

.second__description {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
    opacity: 0.5;
    margin-bottom: 38px;
}

.color-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.color {
    display: flex;
    align-items: center;
}

.color__item {
    margin-right: 12px;
    cursor: pointer;
}

.color__item:last-child {
    margin-right: 0;
}

.price {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
}

.button-wrap {
    display: flex;
    justify-content: space-between;
}

.number {
    width: 100px;
    height: 44px;
    border: 1.5px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.number__item {
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 0px;
    border: none;
    cursor: pointer;
}

.number__input {
    text-align: center;
}

.add {
    text-transform: uppercase;
    /*font-family: Montserrat-Medium;*/
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
    border: 1.5px solid #000;
    width: 253px;
    height: 44px;
    background: #FFF;
    box-sizing: border-box;
    cursor: pointer;
}

.link__etc {
    text-decoration: none;
    /*font-family: Montserrat-Medium;*/
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    cursor: pointer;
}

.arrow_second {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 19px;
    width: 200px;
    height: 1px;
    background: #000;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: 100% 0%;
}

/*АДАПТИВНАЯ ВЕРСТКА======================
============================*/

@media (max-width: 1015px) {
    .second__content-wrap {
        width: 420px;
        height: 530px;
        padding: 20px 30px 20px 30px;
    }

    .number {
        display: none;
    }

    .arrow_second {
        width: 120px;
    }

    .button-wrap {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 950px) {
    .whitebag {
        display: none;
    }

    .link__etc {
        display: none;
    }

    .second {
        width: 100%;
        height: 100vh;
    }

    .second__product-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second__wrap {
        width: 100%;
        height: 50%;
    }

    .second__content-wrap {
        width: 470px;
        height: 400px;
        padding: 58px 48px 45px 51px;
    }

    .second__title {
        font-size: 30px;
        line-height: 20px;
    }

    .second__subtitle {
        font-size: 13px;
        line-height: 10px;
        letter-spacing: 0.07em;
        margin-bottom: 15px;
    }

    .second__description {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 12px;
    }

    .color-wrap {
        margin-bottom: 34px;
    }

    .color__item {
        margin-right: 9px;
    }

    .color__item_img {
        width: 23px;
    }

    .color__item_img-pink {
        width: 29px;
    }

    .price {
        font-size: 30px;
        line-height: 28px;
    }

    .add {
        font-size: 13px;
        line-height: 0;
        border: 1px solid #000;
        width: 260px;
        height: 37px;
    }

    .second__img-wrap {
        width: 100%;
        height: 50%;
        margin: 0;
        justify-content: center;
    }

    .pinkbag {
        width: 100%;
        max-width: 524px;
        max-height: 726px;
        position: relative;
        bottom: 55px;
        left: auto;
    }
}


@media (max-width: 550px) {

    .second__content-wrap {
        width: 340px;
        height: 300px;
        padding: 15px 28px 25px 31px;
    }

    .second__title {
        font-size: 20px;
    }

    .second__subtitle {
        font-size: 10px;
    }

    .second__description {
        font-size: 9px;
    }

    .price {
        font-size: 20px;
    }

    .pinkbag {
        max-width: 324px;
        max-height: 626px;
        bottom: 30px;
    }
}
    @media (max-width: 360px) {

        .second__content-wrap {
            width: 320px;
            height: 281px;
        }
}

/*THIRD======================
============================*/

.third {
    max-width: 1440px;
    width: 100%;
    height: 900px;
    background: linear-gradient(to right, #EBE3D8 388px, #000 388px, #000 461px, #EBE3D8 461px);
    margin: 0 auto;
}

.look-wrap {
    max-width: 1360px;
    width: 100%;
    height: 863px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.third__img-wrap {
    max-width: 912px;
    max-height: 646px;
    /*background: url(img/look.png) center no-repeat;*/
    /*background-size: cover;*/
    position: relative;
    top: 35px;
    left: 85px;
    box-shadow: -25px 35px 40px -34px #808080;
}

.third__img {
    width: 100%;
}

.third__wrap {
    z-index: 1000;
}

.third__content-wrap {
    width: 475px;
    height: 351px;
    background: #FAE8E4;
    padding: 34px 60px 45px 47px;
    box-sizing: border-box;
    margin-bottom: 37px;
}

.third__title {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 17px;
}

.third__subtitle {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.07em;
    color: #000;
    opacity: 0.5;
    margin-bottom: 35px;
}

.third__description {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
    opacity: 0.5;
    margin-bottom: 40px;
}

.third__add {
    background: #FAE8E4;
}

.third__number {
    background: #FAE8E4;
}

.arrow_third {
    width: 108px;
}

.third__link_etc {
    padding-left: 100px;
}

.footer__text {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: flex-end;
}

.footer__img {
    padding: 0 21px 0 15px;
}


/*АДАПТИВНАЯ ВЕРСТКА======================
============================*/

@media (max-width: 950px) {
    .footer {
        display: none;
    }

    .third {
        height: 100vh;
        background: linear-gradient(to right, #EBE3D8 102px, #000 102px, #000 143px, #EBE3D8 143px);
        margin: 0 auto;
    }

    .look-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .third__img-wrap {
        max-width: 571px;
        max-height: 387px;
        position: relative;
        top: 44px;
        left: auto;
    }

    .third__wrap {
        height: 100%;
        width: 475px;
    }

    .third__content-wrap {
        height: 300px;
    }

    .third__title {
        font-size: 30px;
    }

    .arrow_third {
        width: 133px;
    }

    .third__link_etc {
        display: block;
        padding-left: 113px;
        font-size: 15px;
        line-height: 18px;
    }

}

@media (max-width: 550px) {
    .third__img-wrap {
        max-width: 471px;
        max-height: 587px;
    }

    .third__wrap {
        width: 375px;
    }

    .third__content-wrap {
        width: 375px;
        height: 251px;
        padding: 22px 21px 28px 24px;
    }

    .third__title {
        font-size: 25px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .third__subtitle {
        font-size: 14px;
        line-height: 10px;
        margin-bottom: 30px;
    }

    .third__description {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 35px;
    }

}

@media (max-width: 400px) {

    .third__wrap {
        width: 270px;
    }

    .third__content-wrap {
        width: 270px;
        height: 215px;
    }

    .third__title {
        font-size: 20px;
        margin: 0;
    }

    .third__subtitle {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .third__description {
        font-size: 9px;
        margin-bottom: 30px;
    }

    .third__link_etc {
        padding-left: 120px;
    }
}